:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --border: 0.5px solid rgba(120, 120, 120, 0.347);
    --boderRadius: 4px;
    --boxShadow: 1px 1px 3px 1px rgb(195, 195, 195);
    --heightRow: calc(var(--padding)*4);
    --marginRightTD: calc(var(--padding)*4);
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --white: #ffffff;
    --blue:#405eec; 
    --group:1200px;
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --iconDown : -336px -32px;
    --iconUp :-320px -32px;
    --grayDark: #616161;
    --gray: #9ba3b2;
    --grayLight: #e2e4e9;
}
.icon{
    position: relative;
    width: var(--icon-small);
    height: var(--icon-small);
}

.icon:hover{
    cursor: pointer;
}

.icon::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../images/icon_collection.svg);
}
.thongTinInputBox{
    font-weight: 500;
    font-size: .9rem;
    color: #616161;
    position: relative;
    height: calc(var(--padding)*1.5);
    border: SOLID var(--grayLight);
    border-width: 1.8px;
    border-radius: 4px;
    width: 400px;
    padding: var(--padding) calc(var(--padding)*1.8);
    position: relative;
}
.thongTinInputBox::after{
    right:10px;
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    mask-image: url(../../../images/icon_collection.svg);
    mask-position: var(--iconDown);
    background-color: var(--gray);
}

.thongTinContent{
    color: var(--gray);
    pointer-events: none;
}

.thongTinContentGray{
    color: #9ba3b2;
}

.thongTinInput{
    display: none;
    font-weight: 500;
    z-index: 3;
    top:0;
    margin-top: calc(var(--padding)*3 + 5px);
    margin-left: -2px;
    left: 0;
    font-size: .9rem;
    color: #616161;
    position: absolute;
    height: calc(var(--padding)*1.5);
    border: SOLID var(--grayLight);
    border-width: 1.8px;
    border-radius: 4px;
    width: 400.5px;
    padding: var(--padding) calc(var(--padding)*1.8);
}
.thongTinInputSearch{
    pointer-events: none;
    display: none;
    top:47px;
    right: 12px;
    position: absolute;
    z-index: 4;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../images/icon_collection.svg);
    background-position: -32px 0px;
}
.thongTinInput:focus{
    border: 2px solid var(--blue);
}

.thongTinInput::placeholder{
    color: #9ba3b2;
}

.thongTinList{
    top:0;
    margin-top: calc(var(--padding)*7 + 4px);
    margin-left: -2px;
    left: 0;
    background-color: var(--white);
    position: absolute;
    display: none;
    z-index: 4;
    height: auto;
    border: SOLID var(--grayLight);
    border-width: 1.8px;
    border-radius: 4px;
    width: 436px;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
}

.thongTinListItem{
    font-weight: 500;
    color: var(--grayDark);
    padding: var(--padding) calc(var(--padding)*2);
}

.thongTinListItem:hover{
    background-color: var(--grayLight);
    cursor: pointer;
}

@media screen and (max-width: 1289px) {
    .thongTinList{
        width: 337px;
    }
    .thongTinInput{
        width: 300px;
    }
    .thongTinInputBox{
        width: 300px;
    }
}