:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --border: 0.5px solid rgba(120, 120, 120, 0.347);
    --boderRadius: 4px;
    --boxShadow: 1px 1px 3px 1px rgb(195, 195, 195);
    --heightRow: calc(var(--padding)*4);
    --marginRightTD: calc(var(--padding)*4);
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --white: #ffffff;
    --blue:#405eec; 
    --group:1200px;
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --iconDown : -336px -32px;
    --iconUp :-320px -32px;
    --grayDark: #616161;
    --gray: #9ba3b2;
    --grayLight: #e2e4e9;
    --red: #ff3b3b;
}
.icon{
    position: relative;
    width: var(--icon-small);
    height: var(--icon-small);
}

.icon:hover{
    cursor: pointer;
}

.icon::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../images/icon_collection.svg);
}

.theTag{
    height: auto;
}
.theTagContainer{
    margin-left: -500px;
    display: flex;
    align-items: center;
}
.theTagContainer span{
    margin-right: var(--padding);
}
.theTagInput{
    margin-left: var(--padding);
    font-weight: 500;
    color: var(--grayDark);
    font-size: .9rem;
    position: relative;
    height: calc(var(--padding)*1.5);
    border: SOLID var(--grayLight);
    border-width: 1.8px;
    border-radius: 4px;
    width: 200px;
    padding: var(--padding) calc(var(--padding)*1.8);
}
.theTagInput:focus{
    border: 2px solid var(--blue);
}

.theTagHidden{
    display: none;
}
.theTagIcon::before{
    background-position: -160px 0px;
}

.iconInfo{
    width: var(--icon-small);
    height: var(--icon-small);
}

.iconInfo:hover{
    cursor: pointer;
}

.iconInfo::before{
    margin-left: 10px;
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
}


.iconToolTip{
    display: none;
    width: 150px;
    position: absolute;
    background-color: var(--grayDark);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -65px;
}

.iconToolTip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--grayDark) transparent transparent transparent;
}

.iconInfo:hover .iconToolTip{
    display: block;
}

.theTagTitle{
    font-weight: 500;
    margin-left: var(--padding);
    cursor: pointer;
}
.theTagItemGroup{
    margin-left: var(--padding);
    display: flex;
    align-items: center;
}
.theTagItem{
    border: var(--border);
    border-radius: var(--boderRadius);
    margin-right: var(--padding);
    background-color: var(--white);
    padding: calc(var(--padding) * 0.7) calc(var(--padding)*2);
}
.theTagItem:first{
    margin-left: 20px;
}
.theTagItemAddMore{
    height: 20px;
    margin-left: -10px;
}
.theTagItemAddMore::before{
    background-position: -32px -16px;
}