:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --border: 1px solid rgba(120, 120, 120, 0.347);
    --boderRadius: 4px;
    --boxShadow: 1px 1px 3px 1px rgb(195, 195, 195);
    --bgPositionOne: -288px -32px;
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --white: #ffffff;
    --blue:#405eec; 
    --blueOFF:#7e92ea; 
    --group:1200px;
    --iconUnchecked: -192px -16px;
    --iconChecked: -177px -17px;
    --iconDown : -336px -32px;
    --iconUp :-320px -32px;
    --grayDark: #616161;
    --gray: #9ba3b2;
    --grayLight: #e2e4e9;
}

.icon{
    position: relative;
}
.icon:hover{
    cursor: pointer;
}

.icon::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../images/icon_collection.svg);
}

.container{
    position: relative;
    background-color: var(--white);
    border: var(--border);
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
}
@media screen and (min-width: 1900px) {
    .container{
        flex: 1 1 0px;
    }
}
.filterContainer{
    position: relative;
    height: 100%;
    display: block;
}

.box{
    font-size: .9rem;
    position: absolute;
    height:inherit;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.filterBoxList{
    padding: var(--padding);
    padding-top: 0;  
    overflow-y: auto;
}
.filterSelect{
    position: relative;
}

.filterSelect:last-child .filterItem {
    margin-bottom: var(--padding);
}

.filterItem{
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: calc(var(--padding)*2) 0;
    margin-left: calc(var(--padding)*2);
    height: 16px;
    padding-right: var(--padding);
}
.filterItem::before{
    background-position: -193px -17px;
    margin-left:-20px;
    
}

.filterTextContent{
    display: none;
    margin-top: calc(var(--padding));
    font-size: .9rem;
    color: #616161;
    height: calc(var(--padding)*1.5);
    border: SOLID var(--grayLight);
    border-width: 1.8px;
    border-radius: 4px;
    width: calc(100% - var(--padding)*1);
    padding: var(--padding) 0;
    padding-left: var(--padding);
}

.filterTextContent:focus{
    border: 2px solid var(--blue);
}

.filterItemChecked{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: calc(var(--padding)*2) 0;
    margin-left: calc(var(--padding)*2);
    height: 16px;
    padding-right: var(--padding);
}

.filterItemChecked::before{
    margin-left:-20px;
    background-position: -177px -17px;
}

.SideBarButtonLeft{
    top: calc(50% - 25px - 30px);
    right:-16px;
    z-index: 3;
    position: absolute ;
    width: 15px;
    height: 50px;
    margin-left: 2px;
    background-color: var(--white);
    border-radius: 0px 8px 8px 0px;
    box-shadow:  1px 1px 4px 0px rgba(195, 195, 195, 0.486);
}

.SideBarButtonLeft:hover{
    box-shadow:  1px 1px 4px 0px rgb(181, 183, 185);
    width: 20px;
    right:-21px;
}

.SideBarButtonLeft::before{
    background-position: var(--bgPositionOne);
    margin-top: 16px;
}

.SideBarButtonLeft:hover::before{
    margin-left: 4px;
}

.filterAction{
    background-color: var(--grayLight);
    height: calc(var(--padding) * 8);
    display: none;
    justify-content: end;
    align-items: center;
}

.filterActionCancel{
    cursor: pointer;
    font-weight: 500;
    display: block;
    padding: calc(var(--padding)*1) calc(var(--padding)*2);
    margin: var(--padding);
    border: var(--border);
    background-color: var(--white);
    border-radius: var(--boderRadius);
}

.filterActionApply{
    cursor: pointer;
    font-weight: 500;
    padding: calc(var(--padding)*1) calc(var(--padding)*2);
    margin: var(--padding);
    margin-left: 0;
    margin-right: calc(var(--padding)*3);
    border: none;
    background-color: var(--blue);
    border-radius: var(--boderRadius);
    color: var(--white);
    display: block;
}

.filterActionApplyDisabled{
    background-color: var(--blueOFF);
}
.filterActionSave{
    cursor: pointer;
    font-weight: 500;
    padding: calc(var(--padding)*1) calc(var(--padding)*2);
    margin: var(--padding);
    margin-left: 0;
    margin-right: calc(var(--padding)*3);
    border: var(--border);
    background-color: var(--blue);
    border: none;
    border-radius: var(--boderRadius);
    color: var(--white);
    display: none;
}

.clearInput{
    display: none;
    position: absolute;
    right: 7px;
    top:95px;
    width: var(--icon-small);
    height: var(--icon-small);
}

.clearInput:hover{
    cursor: pointer;
}

.clearInput::before{
    position: absolute;
    content: '';
    z-index: 2;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../images/icon_collection.svg);
    background-position: -80px -16px;
}


.filterItem{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: calc(var(--padding)*2) 0;
    margin-left: calc(var(--padding)*2);
    height: 16px;
    padding-right: var(--padding);
}
.filterItem::before{
    background-position: -193px -17px;
    margin-left:-20px;
    
}
.notifySuccess{
    position: fixed;
    top:47px;
    right: -220px;
    z-index: 10;
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--boderRadius);
    box-shadow: var(--boxShadow);
    padding: var(--padding);
    margin-right:0px;
    font-weight: 500;
    transition: margin-right 3s ease-in-out;

}

.notifySuccessAni{
    margin-right:230px;
}
