:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --border: 1px solid rgba(120, 120, 120, 0.347);
    --boderRadius: 4px;
    --boxShadow: 1px 1px 3px 1px rgb(195, 195, 195);
}
.icon{
    position: relative;
    width: var(--icon-small);
    height: var(--icon-small);
}

.icon:hover{
    cursor: pointer;
}

.icon::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../../../images/icon_collection.svg);
    
}

.pagination{
    position: relative;
    width: 100%;
    height: calc(var(--padding)*4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.paginationPanel{
    position: relative;
}

.paginationPanelFrame{
    padding: calc(var(--padding)/2);
    padding-left: calc(var(--padding)*1.5);
    padding-right: calc(var(--padding)*3);
    margin-right: var(--padding);
    border: var(--border);
    border-radius: 4px;
}

.paginationPanelFrame:hover{
    cursor: pointer;
}

.paginationPanelBox{
    display: flex;
    align-items: center;
    padding-right: var(--padding);
}


.paginationPanelBox::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    background-image: url(../../../../../images/icon_collection.svg);
    background-position: -48px -31px;
    margin-left: 175px;
    margin-top: 1px;
}
.paginationOption{
    
    position: absolute;
    z-index: 10;
    display: none;
    bottom:30px;
    left: 0px;
    width: 198px;
    border-radius: var(--boderRadius);
    box-shadow: 0px -1px 3px 0.1px rgb(195 195 195);
}

.paginationOption>span{
    cursor: pointer;
    padding:var(--padding);
    padding-left: calc(var(--padding)*1.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: 4px;
}

.paginationOptionItem{
    padding: var(--padding) 0px;
}

.paginationOptionSelected{
    color: #405eec;
}

.paginationOptionSelected::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    mask-image: url(../../../../../images/icon_collection.svg);
    mask-position: -336px -144px;
    background-color: #405eec;
    margin-left: 160px;
    margin-top: 1px;
}

.paginationButton{
    position: relative;
    display: flex;
    align-items: center;
}

.paginationButtonOne{
    padding: 0 var(--padding);
}

.paginationButtonFour{
    padding: 0 var(--padding);
}

.paginationButtonOne::before{
    background-position: -112px -224px;
}

.paginationButtonTwo::before{
    background-position: -288px -32px;
}

.paginationButtonThree::before{
    background-position: -304px -32px;
}

.paginationButtonFour::before{
    background-position: -128px -224px;
}

.paginationFrom{
    font-weight: 600;
    padding: 0 var(--padding);
}

.paginationTo{
    font-weight: 600;
    padding: 0 var(--padding);
}
