:root{
    --icon-small: 16px;
    --icon-medium: 20px;
    --icon-large: 24px;
    --padding: 10px;
    --white: #ffffff;
    --blue:#405eec; 
}
a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-emphasis: none;
    color: black;
}
.icon{
    position: relative;
    width: var(--icon-small);
    height: var(--icon-small);
    padding-right: calc(var(--padding) * 2.5);
}

.icon:hover{
    cursor: pointer;
}

.icon::before{
    position: absolute;
    content: '';
    z-index: 1;
    width: var(--icon-small);
    height: var(--icon-small);
    mask-image: url(../../../images/icon_collection.svg);
    background-color: black;
    background-image: none;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: var(--padding);
}

.item{
    margin-right: calc(var(--padding)*3);
    padding-bottom: var(--padding);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.itemSelected{
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.itemSelected span::before{
    background-color: var(--blue);
    background-image: blue;
}

.itemSelected {
    color: var(--blue);
}

.itemSelected:visited {
    color: var(--blue);
}

.itemText{
    font-weight: 500;
    font-size: .9rem;
}

.itemHiddenTwo{
    display: none;
}

.itemHiddenThree{
    display: none;
}

.lastItem{
    margin-right: calc(var(--padding)*3);
    padding-bottom: var(--padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.itemOther{
    margin-left: -15px;
}
.itemOtherList{
    position: absolute;
    box-shadow: 1px 1px 3px 1px rgb(195, 195, 195);
    display: none;
}
@media screen and (max-width: 1399px) {
    .lastItem:hover .itemOtherList{
    display: block;
    width: 120px;
    background-color: white;
    margin-top: 220px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    }

    .lastItem:hover .item{
        margin: 0;
    }
}

@media screen and (min-width: 1400px) {
    .itemHiddenTwo{
        display: flex;
    }
    .itemOtherHidden{
        display: none;
    }
    .itemOtherHiddenTwo{
        display: none;
    }
    .itemOtherHiddenThrere{
        display: none;
    }
    .lastItem:hover .itemOtherList{
        display: block;
        width: 120px;
        background-color: white;
        margin-top: 155px;
        margin-left: -20px;
        padding-left: 20px;
        padding-top: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .lastItem:hover .item{
        margin: 0;
    }
}

@media screen and (min-width: 1900px) {
    .itemHidden{
        display: flex;
    }
    .itemHiddenTwo{
        display: flex;
    }
    .itemHiddenThree{
        display: flex;
    }
    .lastItem{
        display: none;
    }
}

.itemOtherHiddenThree{
    text-decoration: none;
}

.iconOne::before{
    mask-position: 0px -272px;
}

.iconTwo::before{
    mask-position: -160px -288px;
}

.iconThree::before{
    mask-position: -15.9px -272px;
}

.iconFour::before{
    mask-position: -128px -48px;
}

.iconFive::before{
    mask-position: -112px -48px;
}

.iconSix::before{
    mask-position: -80px -48px;
}

.iconSeven::before{
    mask-position: -63px -48px;
}

.iconEight::before{
    mask-position: -144px -48px;
}

.iconNine::before{
    mask-position: -320px -176px;
}

.iconTen::before{
    mask-position: -64px -304px;
}

.iconEleven::before{
    mask-position: -128px -272px;
}

.iconTwelve::before{
    mask-position: -80px -272px;
}

.iconThirteen::before{
    mask-position: -208px -50px;
}

.iconFourteen::before{
    mask-position: -31.7px -272px;
}

.iconFifteen::before{
    mask-position: -49px -272px;
}
