.demo {
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: white;
}

.demo .toastmessage__container{
  position: relative;
  height: 40px;
}

.demo .table__container{
      /* remove mấy dòng dưới đi */
      height: 500px;
}
