.checkbox {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.checkbox .checkbox__button {
  position: relative;
}

.checkbox .checkbox__button+.checkbox__label {
  position: relative;
  width: 100%;
  height: 18px;
  padding-left: 12px;
  cursor: pointer;
}

.checkbox .checkbox__button::before {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 2px;
  border: 1px solid var(--ColorBorder);
  left: 0px;
  top: -1px;
  background-color: var(--ColorBackgroundWhite);
}

.checkbox .checkbox__button:checked::before {
  border: 1px solid var(--LightGreen500);
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-position: -1501px -311px;
}
